body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 462px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#playButton {
    background-color: #8BBF1B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#playButton:hover {
    background-color: #45a049;
}

#preCountdownTimer,
#countdownTimer,
#endMessage {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

audio {
    margin-top: 20px;
}