body {
    font-family: scriptorama markdown JF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.difficulty {
    position: absolute;
    top: 210px;
    left: 802px;
    font-size: 18px;
    color: #333;
}

.points {
    position: absolute;
    top: 210px;
    left: 1050px;
    font-size: 18px;
    color: #333;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 490px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-image: url('Card.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spacer {
    height: 210px;
}

#playButton {
    background-color: #8BBF1B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#replayButton {
    background-color: #D95323;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#showMessageButton {
    background-color: #3DADF2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#preCountdownTimer,
#countdownTimer,
#endMessage {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

audio {
    margin-top: 20px;
}